@media only screen and (max-width: 1200px) {
	.row {
		padding: 0 4%;
	}
	.hero-text-box {
		width: 100%;
	}
}

@media only screen and (max-width: 1000px) {
	.category-photo figcaption {
		font-size: 180%;
	}
	.break:before {
		content: '\A';
		white-space: pre;
	}

	.main-nav {
		margin-right: 30px;
	}
	.main-nav li {
		margin-left: 20px;
	}
}

@media only screen and (max-width: 900px) {
	html,
	body {
		font-size: 18px;
	}
	section {
		padding: 40px 0;
	}

	h1 {
		font-size: 350%;
	}

	/*	----- MAIN NAV ----- */
	.logo {
		float: none;
		display: block;
		margin: 0 auto;
		margin-top: 20px;
	}
	.nav-right {
		float: none;
		margin-top: 20px;
		text-align: center;
	}
	.main-nav li a:link,
	.main-nav li a:visited {
		font-size: 90%;
	}
	.search-form {
		display: block;
		margin-top: 20px;
	}

	/*	----- ABOUT ----- */
	.about-box {
		display: block;
	}
	.section-row {
		padding-left: 40px;
	}
	.about-box {
		margin: 10px 0;
	}
	.col {
		float: none;
		margin-right: 0;
		margin-bottom: 3%;
		width: 100%;
	}
	.col:last-child {
		margin-bottom: 0;
	}
	.col-about p {
		font-size: 100%;
	}
	.feature-box {
		margin-bottom: 0;
		display: inline-block;
		margin-right: 40px;
	}
	.feature-box img {
		height: 35px;
	}
	.feature-box p {
		font-size: 90%;
	}

	/*	----- CATEGORIES ----- */
	.section-categories h2 {
		padding: 25px 0;
	}
	.category-photo figcaption {
		font-size: 150%;
	}

	/*	----- FOOTER ----- */
	footer {
		font-size: 90%;
		padding: 3%;
	}
}

@media only screen and (max-width: 550px),
only screen and (max-height: 400px) {
	h1 {
		font-size: 300%;
	}

	section {
		padding: 30px 0;
	}
	.section-row {
		padding-left: 20px;
	}
	.section-categories h2 {
		padding: 20px 0;
	}

	/*	----- MAIN NAV ----- */
	.logo {
		float: left;
		margin: 0;
		margin-top: 30px;
	}
	.nav-right {
		float: left;
		text-align: left;
		margin-top: 40px;
	}
	.main-nav {
		margin-right: 0;
		margin-left: 40px;
		display: none;
	}
	.main-nav li {
		display: block;
		margin-left: 0;
		margin-bottom: 20px;
	}
	.main-nav li a:link,
	.main-nav li a:visited {
		font-size: 100%;
	}
	.mobile-nav-icon {
		display: inline-block;
	}
	.search-form {
		display: inline-block;
		position: absolute;
		top: 90px;
		right: 20px;
		margin-top: 0;
	}

	/*	----- FEATURES ----- */
	.col {
		margin-bottom: 8%;
	}
	.col:last-child {
		margin-bottom: 0;
	}
	.feature-box {
		margin-right: 10px;
	}
	.feature-box img {
		height: 40px;
	}

	/*	----- CATEGORIES ----- */
	.categories-showcase {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.categories-showcase li {
		width: 50%;
	}

	/*	----- FOOTER ----- */
	footer {
		padding: 4%;
	}
}

@media only screen and (max-width: 350px) {
	html,
	body {
		font-size: 16px;
	}

	h1 {
		font-size: 250%;
	}

	.categories-showcase li {
		width: 100%;
	}

	footer {
		padding: 5%;
	}
}

@media only screen and (max-height: 450px) and (min-height: 551px) {
/*
	h1 {
		font-size: 200%;
	}

	.hero-text-box {
		top: 65%;
	}

	}
*/
